.navBar {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  margin: 10px 0px;
}

.logo {
  width: 150px;
  margin-left: 10px;
  text-align: start;
  align-self: center;
  font-family: 'Montserrat';
  font-size: 1.4rem;
}

.linksPanel {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  color: #000;
  padding: 10px 15px;
}

.navLinks:hover {
  border: solid 1px #000;
}

.basket {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
