.sectionPromos {
  display: flex;
  justify-content: center;
}

.promotions {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  margin: 30px auto;
  padding-bottom: 10px;
}

.promotions img {
  position: absolute;
  border-radius: 10px;
}

.firstPromo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 640px;
  height: 380px;
  margin: 0px;
  border-radius: 10px;
  box-shadow: #ded2c6 50px 20px, #bbb0a6 100px 40px;
}

.promoText {
  z-index: 10;
  display: flex;
  width: auto;
  margin-left: 50px;
  padding: 20px 0px;
  border-radius: 10px 0px 0px 10px;
  background: #fff;
  align-items: center;
  font-size: 1rem;
}

.promoText h3 {
  margin: 20px;
}

.promoSecond {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  height: 380px;
  margin: 0px;
  border-radius: 10px;
  box-shadow: #ded2c6 50px 20px;
}

.promoThird {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 640px;
  height: 250px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: #ded2c6 50px 20px;
}
