.sectionPromos {
  display: flex;
  justify-content: center;
}

.promotions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  padding-bottom: 10px;
  width: 80vw;
}

.backImg {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: #ded2c6 20px 10px;
}

.backImg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.promo {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  margin: 10px;
  background-color: #00000000;
  border-radius: 10px;
}

.promoText {
  display: flex;
  height: 150px;
  width: auto;
  padding: 5px;
  margin: 10px;
  border: solid 1px #000;
  border-radius: 10px;
  background: #fff;
  align-items: center;
  font-size: 1rem;
  box-shadow: #8a827b 20px 10px;
}

.promoText h3 {
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .promotions {
    margin: 15px auto;
  }
  .promo {
    width: 300px;
  }
  .backImg {
    height: 250px;
  }
  .promoText {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 920px) {
  .promo {
    width: 250px;
  }
  .backImg {
    height: 225px;
  }
  .promoText {
    font-size: 0.9rem;
  }
  .promoText {
    font-size: 0.9rem;
  }
}