.sectionCatalog {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.points ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  width: 225px;
  padding: 0px;
  margin: 5px;
  font-size: 1rem;
}

.notActive {
  display: flex;
  width: 200px;
  padding: 20px 0px;
  margin: 5px 0;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  font-size: 1.1rem;
  box-shadow: #bbb0a6 20px -10px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.notActive:hover {
  width: 225px;
}

.active {
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  padding: 20px 0px;
  margin: 5px 0;
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
  font-size: 1.1rem;
  box-shadow: #bbb0a6 20px -10px;
  text-decoration: none;
  color: #000;
}

.filter {
  margin: 5px 10px;
  display: flex;
  width: 850px;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ded2c6;
  box-shadow: #bbb0a6 20px -10px;
}

.filter ul {
  display: flex;
  width: 775px;
  justify-content: flex-start;
  list-style: none;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 10px;
}

.filter li {
  margin-right: 20px;
  font-size: 1rem;
}

.stuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 860px;
  height: auto;
}

.items {
  margin: 10px;
  border-radius: 10px;
  width: 260px;
  height: 270px;
  box-shadow: #8a827b 20px -10px;
  overflow: hidden;
}

.items:hover {
  box-shadow: #ded2c6 20px -10px;
}

.items ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  list-style: none;
  color: #00000000;
  border-radius: 10px;
}

.items ul:hover {
  cursor: pointer;
  backdrop-filter: invert(60%);
  color: #fff;
}

.items li {
  padding: 5px;
}

.items img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.btnPage {
  display: flex;
  justify-content: center;
  margin: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btnPage button {
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  font-family: 'Montserrat';
}

.btnPage button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
