.sectionSales {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: auto;
  margin: 0px 10px;
  font-size: 3rem;
}

.button:hover {
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px #000;
}

.slider {
  display: flex;
  width: 895px;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

.frameSales {
  position: relative;
  width: 430px;
  height: 250px;
  margin-right: 10px;
  transition: ease-in-out;
}

.navLinks {
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.frameSales p {
  position: absolute;
  width: 300px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  z-index: 10;
  font-size: 1rem;
}

.frameSales span {
  color: #830404;
  font-weight: bold;
  font-size: 1.2rem;
}

.boxSales {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  box-shadow: #bbb0a6 20px 10px;
  overflow: hidden;
}

.triangle {
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  overflow: hidden;
  border-radius: 15px;
}

.frameSales img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .button {
    width: 50px;
    font-size: 2.5rem;
  }
  .slider {
    width: 740px;
    height: 210px;
  }
  .frameSales {
    width: 340px;
    height: 200px;
  }
  .frameSales p {
    width: 240px;
    font-size: 0.8rem;
  }
  .frameSales span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .sectionSales {
    margin-top: 15px;
  }
  .button {
    width: 40px;
    font-size: 2.3rem;
  }
  .slider {
    width: 600px;
    height: 190px;
  }
  .frameSales {
    width: 285px;
    height: 180px;
  }
  .frameSales p {
    width: 220px;
    font-size: 0.7rem;
  }
  .frameSales span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .sectionSales {
    margin-top: 15px;
  }
  .button {
    font-size: 2rem;
  }
  .slider {
    width: 500px;
    height: 160px;
  }
  .frameSales {
    width: 285px;
    height: 150px;
  }
}

@media screen and (max-width: 620px) {
  .sectionSales {
    margin-top: 10px;
  }
  .button {
    font-size: 2rem;
  }
  .slider {
    width: 450px;
    height: 160px;
  }
  .frameSales {
    width: 260px;
    height: 150px;
  }
}

@media screen and (max-width: 450px) {
  .slider {
    max-width: 370px;
    height: 160px;
    margin-bottom: 5px;
  }
}
